# --------------------------------------------------------------------
# 🟢 HER YERDEN
# --------------------------------------------------------------------


# --------------------------------------------------------------------
# 🟢 BİR YERDEN
#    (sadece ana dizin için başına / konulur)
# --------------------------------------------------------------------

## Klasör
/Algoritmalar/
/Algoritmalar-CSharp/
